body {
    background: #c4e1ff;
}
table {
    background: #7fb35d;
    margin: 0 auto;
    border-collapse: collapse;
    -webkit-box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.88);
    -moz-box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.88);
    box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.88);
    cursor: pointer;
}
td {
    width: 95px;
    height: 95px;
    background-size: contain;
    image-rendering: -webkit-optimize-contrast;
    position: relative;
}

tr:nth-child(odd) td:nth-child(odd), tr:nth-child(even) td:nth-child(even) {
    background: #e0ffdb;
    background-size: contain;
}

.piece {
    max-width:100%;
    max-height:100%;
    position: absolute;
    top: -0%;
    left: -0%;
}

.selected {
    background: rgba(0,0,255,0.6);
}

.proposed {
    background: rgb(0, 255, 255) !important;
}

.clicked {
    background: white !important;
}

.marker {
    width: 0;
    height: 0;
    font-size: 1.2vh;
    display: inline-block;
    position: relative;
    color: #e0ffdb;
    font-family: Arial;
}

.file_marker {
    top: 42%;
    left: 3%;
}
.rank_marker {
    top: -40%;
    left: 90%;
}

tr:nth-child(odd) td:nth-child(odd) div, tr:nth-child(even) td:nth-child(even) div{
    color: #7fb35d;
}

.avoid_clicks {
  pointer-events: none;
}

.draggable_piece {
    position: fixed;
    width: 95px;
    height: 95px;
    visibility: hidden;
}


.no_select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}