body {
    background: #c4e1ff;
    font-family: 'Roboto', sans-serif;
}
table {
    background: #7fb35d;
    margin: 0 auto;
    border-collapse: collapse;
    -webkit-box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.88);
    -moz-box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.88);
    box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.88);
    cursor: pointer;
    float: left;
}
td {
    width: 95px;
    height: 95px;
    background-size: contain;
    image-rendering: -webkit-optimize-contrast;
    position: relative;
}

tr:nth-child(odd) td:nth-child(odd), tr:nth-child(even) td:nth-child(even) {
    background: #e0ffdb;
    background-size: contain;
}

.piece {
    max-width:100%;
    max-height:100%;
    position: absolute;
    top: -0%;
    left: -0%;
}

.selected {
    background: rgba(0,0,255,0.5);
}

.proposed {
    background: rgb(0, 100, 100) !important;
}

.clicked {
    background: white !important;
}

.marker {
    width: 0;
    height: 0;
    font-size: 1.2vh;
    display: inline-block;
    position: relative;
    color: #e0ffdb;
    font-family: Arial;
}

.file_marker {
    top: 42%;
    left: 3%;
}
.rank_marker {
    top: -40%;
    left: 90%;
}

tr:nth-child(odd) td:nth-child(odd) div, tr:nth-child(even) td:nth-child(even) div{
    color: #7fb35d;
}

.avoid_clicks {
  pointer-events: none;
}

.draggable_piece {
    position: fixed;
    width: 95px;
    height: 95px;
    visibility: hidden;
}

.full_container {
    display: inline-block;
} 

.right_container {
    width: 300px;
    background: #e0ffdb;
    float: left;
    margin-left: 50px;
    -webkit-box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.88);
    -moz-box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.88);
    box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.88);
}

.timer {
  width: 290px;
  height: 90px;
  background: black;
  font-size: 60px;
  line-height: 90px;
  text-align: left;
  padding: 5px;
  color: white;
  display: block;
}

.name {
  color: black;
  font-size: 30px;
  height: 40px;
  font-family: monospace;
  font-weight: bold;
  line-height: 40px;
  background: #7fb35d;
}

.ui_button {
    display: inline-block;
    width: 60px;
    height: 40px;
    cursor: pointer;
    border-bottom: 3px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.ui_button img {
  height: 40px;
}

.ui_button:hover {
    background: white;
} 

.ui_button:active {
    background: #7fb35d;
}

.chatbox {
  width: 280px;
  height: 384px;
  margin-top: 10px;
  background: white;
  overflow: hidden;
  margin-bottom: 10px;
  -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
}

.chat_input {
  width: 250px;
  font-size: 17px;
  margin-bottom: 10px;
}

.send_button {
  display: inline-block;
  width: 25px;
  height: 25px;
  position: relative;
  top: 7px;
}

.no_select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}